doctype html
heaD
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=PT+Serif&display=swap' rel='stylesheet')
  // Bootstrap CSS
  link(rel='stylesheet' href='/static/css/bootstrap.min.css')
  // Style
  link(rel='stylesheet' href='/static/css/style.css')

  title BTITRE INDEX
h4.center.mt-3.bold LISTE DES TRITRES EXISTANT
  .center 
    a.btn.btn-success( href="/api/addtitre") Nouveau Titre

.table-wrapper
  table.fl-table
    thead
      tr
        th TITRE ID
        th NOM ET PRENOM
        th CIN
        th ADDRESSE
        th EMAIL
        th INDICE
        th CONSERVATION FONCIERE
        th INDICE SPECIAL
        th LIEN
    tbody
      each item in list
        tr
          td=item["Key"]
          td=item["Record"]["fullName"]
          td=item["Record"]["cin"]
          td=item["Record"]["address"]
          td=item["Record"]["email"]
          td=item["Record"]["indice"]
          td=item["Record"]["city_fonc"]
          td=item["Record"]["special_indice"]
          td
            a.btn-custom(href="/api/query/" +item["Key"]) afficher

