doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/static/css/A4.css')
  title TITRE DETAILS | BCTITRE

.page
  h4.center Royaume du Maroc
  h4.center المملكة المغربية
  h4.center 
    img.resized(src='/static/images/logo.png' alt='')
  h6.center Agence Nationale de la Conservation Foncière du Cadastre et de la Cartographie
  h6.center الوكالة الوطنية للمحافظة العقارية و المسح العقاري و الخرائطية 
  h4.centered 
    #qrcode
  h3.center.mt-150.underline.mb-80 CERTIFICAT DE PROPORIETE

  p Le conservateur de la propriété foncière et des droits foncières de 
    b #{titre["city_fonc"]} 
    | certifie que ledit titre 
    b #{titre["titreNumber"]} 
    | dont :
    p.m-4 Le domaine d'indice numéro 
      b #{titre["indice"]} 
      | avec comme indice spécial 
      b #{titre["special_indice"]}
      |  appartient à 
      b #{titre["fullName"]}, CIN N° #{titre["cin"]}
      |  demeurant à  
      b #{titre["address"]}.
    p.m-4 Cette attestation est délivrée pour servir et valoir ce que de droit.
    p.m-6.right Fait à 
      b Rabat, le 
          span= moment(updateDate).format('DD/MM/YYYY')
   

  script(src='https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js')
  


script(src='/static/js/main.js') 
      
    